{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
    {{ include('common/page-top.html.twig') }}
    <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">Elèves de {{school_name}}</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('dashboard')}}">{{school_name}}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Elèves</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Student-all">Liste des élèves</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Student-add">Ajouter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Student-all">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Id">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Nom">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Formation">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <div class="input-group">
                                            <input data-provide="datepicker" data-date-autoclose="true" class="form-control" placeholder="Admission Date">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-6">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-primary btn-block" title="">Rechercher</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive card">
                            <table class="table table-hover table-vcenter table-striped mb-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Id</th>
                                        <th>Nom</th>
                                        <th>Prenom</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th>Date de naissance</th>
                                        <th>Formation</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                               {% for etudiant in etudiants %}
                               {% set formations = etudiant.formations %}
                                    <tr>
                                        <td class="w60">
                                      
                                            {% if etudiant.sexe == "Masculin" %}

                                                 <img class="avatar" src="../assets/images/xs/avatar1_homme.jpg" alt="{{etudiant.sexe}}">

                                            {% elseif etudiant.sexe == "Feminin" %}

                                                 <img class="avatar" src="../assets/images/xs/avatar1_femme.png" alt="{{etudiant.sexe}}">
                                                         
                                            {% endif %}
                                        </td>
                                        <td>{{etudiant.id}}</td>
                                        <td>{{etudiant.user.nom}}</td>
                                        <td>{{etudiant.user.prenom}}</td>
                                        <td>{{etudiant.user.email}}</td>
                                        <td>{{etudiant.user.telephone}}</td>
                                        <td>{{etudiant.user.dateNaissance|date('m/d/Y') }}</td>
                                        <td>{% for formation in formations %}
                                                {{formation.formation.nom}}   &nbsp;
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                                        </td>
                                     </tr>
                                {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="Student-add">
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Informations basiques</h3>
                                        <div class="card-options ">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                    </div>
                                    <form class="card-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Nom <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Entrez votre nom" id="nom">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Prenom <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" onchange="getFirstName()" placeholder="Entrez votre prenom" id="prenom">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Email <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" id="email" onchange="getEmail()">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Sexe <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <select class="form-control input-height" name="sexe">
                                                    <option value="">Choisir...</option>
                                                    {% for sex in sexe %} 
                                                        <option value="{{sex.nom}}">{{sex.nom}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Telephone <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="tel" class="form-control" id="telephone" onchange="getTelephone()">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">Date de naissance  <span class="text-danger">*</span></label>
                                            <div class="col-md-9">
                                                <input type="date" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                                <button type="submit" id="submit" onclick="getFormValue(event)"  class="btn btn-primary" >Soumettre</button>
                                        </div
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Autres informations</h3>
                                        <div class="card-options ">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                 <label>Annee Scolaire</label>
                                                 
                                                <select class="form-control input-height" name="anneeScolaire">
                                                    <option value="">Choisir...</option>
                                                    {% for annee in anneeScolaire %} 
                                                        <option value="{{annee.id}}">{{annee.dateDebut|date('Y')}}-{{annee.dateFin|date('Y')}}</option>
                                                    {% endfor %}
                                                </select>
                                                </div>
                                                </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="col-md-12 col-sm-12">
                                                <div class="form-group">
                                                 <label>Formation</label>
                                                <select class="form-control input-height" name="formation">
                                                    <option value="">Choisir...</option>
                                                    {% for form in formation %} 
                                                        <option value="{{form.id}}">{{form.nom}}</option>
                                                    {% endfor %}
                                                    
                                                </select>
                                                 </div>
                                                 </div>
                                                 </div>
                                            </div>
    
                                            
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-primary">Soumettre</button>
                                                <button type="submit" class="btn btn-outline-secondary">Quitter</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
 {% block javascripts %}
    <script src="{{ asset('assets/js/form_validator_etudiants.js') }}"></script>
 {%endblock %}
